<template>
  <div class="fixed-top-left q-mt-md q-ml-md">
    <q-btn icon="fas fa-arrow-left" round :to="{ name: backTo }" />
    <q-btn icon="fas fa-folder-open" round @click="$emit('open', $event)" class="q-ml-lg" />
    <q-btn icon="fas fa-save" round @click="$emit('save', $event)" />
  </div>
</template>

<script>
export default {
  name: 'menu',
  props: {
    backTo: {
      type: String,
      default: 'index'
    }
  }
}
</script>

<style scoped>

</style>
