<template>
  <div>
    <Menu back-to="index" />
    <div class="monaco-editor" ref="editor">
    </div>
  </div>

</template>

<script>
import * as monaco from 'monaco-editor'
import Menu from 'components/menu/Menu'

export default {
  name: 'Editor',
  components: { Menu },
  data () {
    return {
      code: 'function main() {\n\t\n}\n\nmodule.exports = main'
    }
  },
  mounted () {
    // compiler options
    monaco.languages.typescript.javascriptDefaults.setCompilerOptions({
      target: monaco.languages.typescript.ScriptTarget.ES2016,
      allowNonTsExtensions: true,
      moduleResolution: monaco.languages.typescript.ModuleResolutionKind.NodeJs,
      module: monaco.languages.typescript.ModuleKind.CommonJS,
      noEmit: true,
      typeRoots: ['node_modules/@types']
    })

    monaco.languages.typescript.javascriptDefaults.setDiagnosticsOptions({
      noSemanticValidation: true,
      noSyntaxValidation: false
    })

    this.editor = monaco.editor.create(this.$refs.editor, {
      value: this.code,
      language: 'javascript',
      theme: 'vs-dark',
      lineNumbers: 'off',
      readOnly: false,
      minimap: {
        enabled: false
      }
    })
  },
  methods: {
    init () {
      console.log(this.code)
    }
  }
}
</script>

<style scoped>
.monaco-editor {
  position:   absolute;
  left:       25%;
  top:        10%;
  width:      50%;
  height:     50%;
  max-height: 100% !important;
  margin:     0;
  padding:    0;
  overflow:   hidden;
}
</style>
