<template>
  <q-page>
    <div class="row flex flex-center">
      <div class="text-h1 q-mt-xl">{{ $t('TITLE_APP') }}</div>
      <div class="text-subtitle1">adv20</div>
    </div>
    <div class="row flex flex-center">
      <div class="q-mt-xl">
        <q-btn :label="$t('BTN_CREATE_BP')" :to="{ name: 'blueprints' }"/>
      </div>
      <div class="q-mt-xl">
        <q-btn :label="$t('BTN_CREATE_MAP')" :to="{ name: 'map' }"/>
      </div>
      <div class="q-mt-xl">
        <q-btn :label="$t('BTN_CREATE_SCRIPT')" :to="{ name: 'script' }"/>
      </div>
    </div>
    <q-btn flat round class="fixed-top-right q-ma-md" @click="changeLang" v-if="false">
      <q-img src="~assets/fr.jpg" width="2em" v-if="$i18n.locale === 'fr'"/>
      <q-img src="~assets/en.jpg" width="2em" v-if="$i18n.locale === 'en'"/>
    </q-btn>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import techMixin from 'src/mixins/techMixin'

export default defineComponent({
  name: 'PageIndex',
  mixins: [techMixin],
  methods: {
    changeLang () {
      switch (this.$i18n.locale) {
        case 'fr':
          this.$i18n.locale = 'en'
          break
        case 'en':
        default:
          this.$i18n.locale = 'fr'
      }
    }
  }
})
</script>
