<template>
  <q-page class="fit row no-wrap">
    <Menu back-to="index" />
    <div class="col-8 left-container flex q-pa-none q-ma-none" style="border: solid grey 1px" ref="container-map">
      <MapSvg />
    </div>
    <div class="col-4 right-container" style="border: solid grey 1px">
      <!--     <right-panel />-->
    </div>
  </q-page>
</template>

<script>
import MapSvg from 'components/map/MapSvg'
import mapMixin from 'src/mixins/mapMixin'
import Menu from 'components/menu/Menu'

export default {
  name: 'Map',
  components: { MapSvg, Menu },
  mixins: [mapMixin],
  mounted () {
    this.updateSizeMap()
    window.addEventListener('resize', this.updateSizeMap)
  },
  methods: {
    updateSizeMap () {
      this.mapWidth = this.$refs['container-map'].offsetWidth - 20
      this.mapHeight = this.$refs['container-map'].offsetHeight - 20
    }
  }
}
</script>

<style scoped>

</style>
