<template>
  <q-page class="bg-grey-10 q-pa-md text-grey-5">
    <q-list>
      <q-expansion-item
        v-for="blueprint in getTreeBlueprints"
        :key="blueprint.name"
        :icon="blueprint.icon"
        :label="blueprint.name"
      >
        <q-item v-for="bp in blueprint.children" :key="bp.id" clickable v-ripple dense @click="openDialogBlueprint(bp)">
          {{ bp.name }}
        </q-item>
      </q-expansion-item>
    </q-list>
  </q-page>
</template>

<script>
import blueprintsMixin from 'src/mixins/blueprintsMixin'
import techMixin from 'src/mixins/techMixin'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'menuBlueprints',
  mixins: [blueprintsMixin, techMixin],
  methods: {
    openDialogBlueprint (blueprint) {
      this.selectBlueprint = blueprint
      this.typeBlueprintSelect = blueprint.type
      this.dialogBlueprint = true
    }
  }
})
</script>

<style scoped>

</style>
