body {
  font-size: 18px;
}

@media all and (max-width: 1366px) {
  body {
    font-size: 16px;
  }
}

@media all and (max-width: 750px) {
  body {
    font-size: 14px;
  }
}

@media all and (max-width: 640px) {
  body {
    font-size: 12px;
  }
}
