<template>
  <rect :x="x" :y="y" :width="50" height="50"
        stroke="red" fill="purple"
        stroke-opacity="0.8" fill-opacity="0.5">
  </rect>
</template>

<script>
import mapMixin from 'src/mixins/mapMixin'

export default {
  name: 'Door',
  mixins: [mapMixin],
  props: {
    x: {
      type: Number,
      default: 0
    },
    y: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style scoped>

</style>
