<template>
  <div class="non-selectable q-pa-none q-ma-none" @contextmenu.prevent>
    <div class="absolute-bottom-right">
      DEBUG { x: {{ mouseX }}, y: {{ mouseY }} } coord: {{ coordX }}x{{ coordY }} { w: {{ mapWidth }}px, h: {{ mapHeight }}px }
    </div>
    <svg ref="mud-map-svg" :width="mapWidth" :height="mapHeight" @mousemove.capture="mouseXY"
         style="margin: 10px 0 0 10px" @click="mouseClickDoor">
      <rect x="0" y="0" width="100%" height="100%"
            stroke="red" fill="purple"
            stroke-opacity="0.8" fill-opacity="0.5" />
      <rect :x="mouseX-25" :y="mouseY-25" :width="50" height="50"
            stroke="red" fill="purple"
            stroke-opacity="0.8" fill-opacity="0.5" />

      <Door v-for="door in getDoors" :key="door.id" :x="door.x" :y="door.y" />

    </svg>
  </div>
</template>

<script>
import mapMixin from 'src/mixins/mapMixin'
import Door from 'components/map/Door'

export default {
  name: 'MapSvg',
  components: { Door },
  mixins: [mapMixin],
  mounted () {
    console.log(window.serv.getSize())
  },
  methods: {
    mouseClickDoor () {
      this.generateDoor({
        x: this.coordX * 50,
        y: this.coordY * 50
      })
    },
    /**
     * Action le déplacement de la souris
     * @param event {object}
     */
    mouseXY (event) {
      this.mouseX = event.layerX
      this.mouseY = event.layerY
      this.coordX = Math.floor(this.mouseX / 50)
      this.coordY = Math.floor(this.mouseY / 50)
    }
  }
}
</script>

<style scoped>

</style>
