<template>
  <q-form @submit="submitForm">
    <q-card-section class="row items-center q-pb-none">
      <div class="text-h6">
        {{ form.id ? 'Modification de l\'' : 'Création d\'un nouvel' }} objet placeable
      </div>
      <q-space />
      <q-btn icon="close" flat round dense v-close-popup />
    </q-card-section>
    <q-separator class="q-mt-md" />
    <q-card-section>
      <div class="row">
        <q-input
          dense
          class="col"
          outlined
          v-model="form.name"
          label="Nom de l'objet"
          :rules="[v => v.length > 0 || 'Obligatoire *']"
        />
      </div>
      <div class="row q-mb-lg">
        <q-input
          dense
          class="col"
          outlined
          type="textarea"
          v-model="form.descPlaintText"
          label="Description"
        />
      </div>
      <div class="row">
        <q-input
          dense
          class="col"
          outlined
          v-model="form.tag"
          label="Tag"
        />
        <q-input
          dense
          class="col q-ml-md"
          v-model.number="form.weight"
          type="number"
          outlined
          label="Poids"
          step="0.1"
          min="0"
        />
      </div>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <div class="row">
        <q-checkbox
          class="col"
          dense
          v-model="form.lock.locked"
          color="black"
          label="Verrouillé"
          @input="resetLockDifficulty"
        />
        <div class="col">
          <q-input
            class=" col q-ml-md"
            :disable="!form.lock.locked"
            style="width: 100px"
            v-model.number="form.lock.difficulty"
            dense
            type="number"
            outlined
            label="Difficulté"
            min="-1"
            max="99"
          />
        </div>
        <div class="col">
          <q-input
            class="q-ml-md"
            :disable="!form.lock.locked"
            style="width: 100px"
            v-model="form.lock.code"
            dense
            type="text"
            outlined
            label="Code"
            maxlength="4"
            mask="####"
            :rules="[(v => v.length === 0 || v.length === 4) || 'min 4 chiffres' ]"
          />
        </div>
        <div class="col">
          <q-input
            class="q-ml-md"
            :disable="!form.lock.locked"
            style="width: 100px"
            v-model="form.lock.key"
            dense
            type="text"
            outlined
            label="Tag clé"
          />
        </div>
      </div>
      <div class="row q-mt-md">
        <q-checkbox
          class="col col-3"
          dense
          v-model="form.traps.armed"
          color="black"
          label="Piégé"
          @input="resetTrapsDifficulty"
        />
        <div class="col col-6">
          <q-input
            class="q-ml-md"
            :disable="!form.traps.armed"
            style="width: 100px"
            v-model.number="form.traps.difficulty"
            type="number"
            outlined
            dense
            borderless
            label="Difficulté"
            min="-1"
            max="99"
          />
        </div>
        <div class="col">
          <q-input
            class="q-ml-md"
            :disable="!form.traps.armed"
            style="width: 100px"
            v-model="form.traps.tag"
            dense
            type="text"
            outlined
            label="Tag piège"
          />
        </div>
      </div>
    </q-card-section>
    <q-separator />
    <q-card-actions align="right">
      <q-btn type="submit" icon="fas fa-file-download" round flat class="left"
             @click="exportJson = true" />
      <q-space />
      <q-btn :label="form.id ? 'Modifier': 'Créer'" color="black" type="submit" />
      <q-btn label="Annuler" text-color="black" v-close-popup />
    </q-card-actions>
  </q-form>
</template>

<script>

import blueprintsMixin from 'src/mixins/blueprintsMixin'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'FormPlaceable',
  mixins: [blueprintsMixin],
  data () {
    return {
      exportJson: false,
      form: {
        id: null,
        name: '',
        descPlaintText: '',
        weight: 0,
        tag: '',
        lock: {
          locked: false,
          difficulty: 0,
          code: '',
          key: ''
        },
        traps: {
          armed: false,
          difficulty: 0,
          tag: ''
        }
      }
    }
  },
  mounted () {
    if (this.selectBlueprint) {
      this.form = {
        ...this.selectBlueprint,
        descPlaintText: this.selectBlueprint.desc.join('\n')
      }
    }
  },
  methods: {
    resetLockDifficulty () {
      if (!this.form.lock.locked) {
        this.form.lock.difficulty = 0
        this.form.lock.code = ''
        this.form.lock.key = ''
      }
    },
    resetTrapsDifficulty () {
      if (!this.form.traps.armed) {
        this.form.traps.difficulty = 0
        this.form.traps.tag = ''
      }
    },
    async submitForm () {
      const blueprint = await this.submitPlaceable(this.form)
      this.selectBlueprint = null
      // Si export JSON
      if (this.exportJson) {
        await this.exportBlueprint(blueprint)
        this.exportJson = false
      }
      this.$emit('close')
    }
  }
})
</script>

<style scoped>

</style>
