<template>
  <q-form @submit="submitForm">
    <q-card-section class="row items-center q-pb-none">
      <div class="text-h6">
        {{ form.id ? 'Modification de la\'' : 'Création d\'une nouvelle créature' }} créature
      </div>
      <q-space />
      <q-btn icon="close" flat round dense v-close-popup />
    </q-card-section>
    <q-separator class="q-mt-md" />
    <q-card-section class="q-gutter-xs">
      <div class="row">
        <q-radio
          v-for="r in getRanks"
          dense
          v-model="form.rank"
          :val="r.id"
          :label="r.rank"
          :key="'rank-' + r.id"
          style="font-size: 0.8em"
          class="q-mr-md"
        />
      </div>
      <div class="row">
        <q-input
          dense
          class="col"
          outlined
          v-model="form.name"
          label="Nom de l'objet"
          :rules="[v => v.length > 0 || 'Obligatoire *']"
        />
      </div>
      <div class="row q-mb-md">
        <q-input
          dense
          class="col"
          outlined
          type="textarea"
          v-model="form.descPlaintText"
          label="Description"
        />
      </div>
      <div class="row">
        <q-input
          dense
          class="col"
          outlined
          v-model="form.tag"
          label="Tag"
        />
        <q-input
          dense
          class="col q-ml-md"
          v-model.number="form.weight"
          type="number"
          outlined
          label="Poids"
          step="0.1"
          min="0"
        />
      </div>
      <div class="row q-mt-md q-gutter-md">
        <q-select
          dense
          class="col"
          outlined
          v-model="form.race"
          label="Race"
          :options="getRefRaces"
          :rules="[v => v.length > 0 || 'Obligatoire *']"
        />
        <q-select
          dense
          class="col"
          outlined
          v-model="form.gender"
          label="Genre"
          :options="getRefGenders"
          :rules="[v => v.length > 0 || 'Obligatoire *']"
        />
      </div>
    </q-card-section>
    <q-separator />
    <q-card-actions align="right">
      <q-btn type="submit" icon="fas fa-file-download" round flat class="left"
             @click="exportJson = true" />
      <q-space />
      <q-btn :label="form.id ? 'Modifier': 'Créer'" color="black" type="submit" />
      <q-btn label="Annuler" text-color="black" v-close-popup />
    </q-card-actions>
  </q-form>
</template>

<script>
import { defineComponent } from 'vue'
import blueprintsMixin from 'src/mixins/blueprintsMixin'
import { capitalize } from 'src/libs/filters'

export default defineComponent({
  name: 'FormActor',
  mixins: [blueprintsMixin],
  data () {
    return {
      exportJson: false,
      form: {
        id: null,
        rank: 0,
        name: '',
        descPlaintText: '',
        weight: 0,
        tag: '',
        race: '',
        gender: ''
      }
    }
  },
  mounted () {
    if (this.selectBlueprint) {
      this.form = {
        ...this.selectBlueprint,
        descPlaintText: this.selectBlueprint.desc.join('\n')
      }
    }
  },
  computed: {
    getRanks () {
      return this.getRefRanks.map(r => {
        return {
          id: r.id,
          rank: capitalize(r.rank)
        }
      })
    }
  },
  methods: {
    async submitForm () {
      const blueprint = await this.submitActor(this.form)
      this.selectBlueprint = null
      // Si export JSON
      if (this.exportJson) {
        await this.exportBlueprint(blueprint)
        this.exportJson = false
      }
      this.$emit('close')
    }
  }
})
</script>

<style scoped>

</style>
